{% load socialaccount %}

<div class="bs-docs-section clearfix mx-2">
    <div class="row">
        <div class="bs-component">
            <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Sistema -> Combustible</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item">
                        <!--
                        <a class="nav-link active" href="{% url 'bases:home' %}">Inicio
                        </a>
                        -->
                        <a class="nav-link"
                          hx-get="{% url 'bases:home' %}"
                          hx-push-url="true"
                          hx-trigger="click"
                          hx-target="#body"
                          hx-swap="outerHTML"
                        >
                          Inicio
                        </a>
                        <li class="nav-item">
                            <div class="nav-link" 
                                hx-get="{% url 'pages:about' %}"
                                hx-push-url="true"
                                hx-trigger="click"
                                hx-target="#body"
                                hx-swap="outerHTML"
                                >About</div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link" 
                              hx-get="{% url 'user:register' %}"
                              hx-push-url="true"
                              hx-trigger="click"
                              hx-target="#body"
                              hx-swap="outerHTML"
                              >Registrar</div>
                      </li>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catalogos</a>
                        <div class="dropdown-menu">
                          <a 
                            class="dropdown-item" 
                            href="#"
                            hx-get="{% url 'control:brand_list' %}"
                            hx-target="#body"
                            hx-trigger="click"
                            hx-push-url="true"
                            hx-swap="outerHTML"
                            >Marcas</a>
                          <a class="dropdown-item" href="#">Vehiculos</a>
                          <a class="dropdown-item" href="#">Modelos</a>
                          <!--
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                          -->
                        </div>
                      </li>
                    </ul>
                    <div class="d-flex">
                      {% if user.is_authenticated %}
                      <form method="post" action="{% url 'user:logout' %}">
                        {% csrf_token %}
                        <button class="nav-link text-white" type="submit">Salir</button>
                    </form>                    
                      {% else %}
                      <a 
                          href="{% url 'google_login' %}" 
                          class="nav-link text-white mx-3 border-info-subtle"
                          >
                        <i class="fab fa-google"></i>
                        Inicio
                      </a>               
                        <div
                            class="nav-link text-white mx-3" 
                            hx-get="{% url 'user:register' %}"
                            hx-push-url="true"
                            hx-trigger="click"
                            hx-target="#body"
                            hx-swap="outerHTML"
                            >Registrar</div>
                        <div 
                        hx-get="{% url 'user:login2' %}" 
                        hx-push-url="true"
                        hx-trigger="click"
                        hx-target="#body"
                        hx-swap="outerHTML"
                        class="nav-link text-white"
                        >Login</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </nav>
        </div>
    </div>
</div>