<form 
    class="d-flex align-item-center" 
    hx-post='{% url "control:save_brand" %}'
    hx-target="#list"
    id="mi-formulario"
    >
    
<fieldset>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="form-label">Id</label>
                <input 
                        type="text" 
                        class="form-control" 
                        aria-describedby="idhelp" 
                        name="id"  
                        id="id" 
                        placeholder="Id" 
                        readonly 
                        value="{{ obj.id }}"
                >
                <small id="idhelp" class="form-text text-muted">Id</small>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="form-label">Description</label>
                <input 
                        type="text" 
                        class="form-control" 
                        aria-describedby="descriptionhelp" 
                        name="description"  
                        id="description" 
                        placeholder="Description" 
                        value="{{ obj.description }}"
                        required
                >
                <small id="descriptionhelp" class="form-text text-muted">Descripcion</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
        <div class="col-md-6">
            <button 
                    type="button" 
                    class="btn btn-info"
                    hx-get="{% url 'control:brand_list' %}"
                    hx-target="#body"
            >Limpiar
        </button>
        </div>
    </div>
</fieldset>
</form>
