{% if obj %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for o in obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ o.description }}</td>
                <td>
                    <i 
                        class="bi bi-trash3" 
                        style="cursor: pointer;"
                        hx-delete="{% url 'control:delete_brand' o.id %}"
                        hx-target="#list"
                        hx-confirm="¿ Estas Seguro de ELiminar este registro?"
                    ></i>
                    <i 
                        class="bi bi-pencil-square" 
                        style="cursor: pointer;"
                        hx-get="{% url 'control:edit_brand' o.id %}"
                        hx-target="#frm"
                    ></i>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No hay registros</p>
{% endif %}
<input 
type="text" 
class="form-control" 
aria-describedby="idhelp" 
name="id"  
id="id" 
placeholder="Id" 
readonly 
value="{{ reg.id }}"
hx-swap-oob="true"
>