{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% include "partials/_title.html" with titulo="Modelos Vehiculo" %}
{% block content %}
{% include "partials/_card_start.html" with titulo="Modelos" %}
    <a href="{% url 'control:model_new' %}" class="btn btn-sm btn-warning"><i class="bi bi-plus-circle"></i> Nuevo</a>
    <table id="tbl" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for o in obj %}
                <tr>
                    <td>{{ o.id }}</td>
                    <td>{{ o.brand }}</td>
                    <td>{{ o.description }}</td>
                    <td>
                        <a href="{% url 'control:model_edit' o.id %}" class="btn btn-sm btn-info"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'control:model_delete' o.id %}" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                        <button class="btn btn-danger btn-sm" onclick="borrar('{{ o.id }}','{{ o.description }}')">Borrate</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% include "partials/_card_end.html" %}
{% endblock content %}
{% block js %}
<script>
    const borrar=(id,description)=>{
        Swal.fire({
            title: "¿Procedo?",
            text: "Estas Seguro que quieres eliminar "+description+" ?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, Eliminalo!"
          }).then((result) => {
            if (result.isConfirmed) {
                let url=`{% url 'control:model_list'%}/delete/${id}`;
                $.ajax({
                    headers:{"X-CSRFToken":"{{ csrf_token }}"},
                    type:"POST",
                    url:url,
                    success:(r,textStatus,xhr)=>{
                        if(xhr.status===200){
                            Swal.fire(
                                "Borrado",
                                `${description} Borrado Sastifactoriament`,
                                'success').then(()=>location.reload());
                        }
                    },
                    error:(jqXHR,textStatus,error)=>{
                        Swal.fire("Error",textStatus,"error")
                    }
                })
            }
          });
    }
</script>
{% endblock js %}
