{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% include "partials/_title.html" with titulo="Modelos Vehiculo" %}
{% block content %}
{% include "partials/_card_start.html" with titulo="Agregar Editar Vehiculos" %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-stop-circle"></i> Guardar</button>
                <a href="{% url 'control:model_list' %}"><i class="bi bi-x-octagon-fill"></i> Cancelar</a>
            </div>
        </div>
    </form>
{% include "partials/_card_end.html" %}
{% endblock content %}
{% block js %}
{% endblock js %}
